*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    --btn-colored: linear-gradient(96.67deg, #34A853 0%, #B8D344 100%);
    --gen-white-text:#FFFFFF;
    --white--bg:#FFFFFF;
    --text-color:#000000;
    --greyed-text-color:#2C3134;
    --text-opacity: 0.6;
    --greyed-bg: #F9FAFB;
    --greyed-arrow-bg: #E6E6E6;
    --gradient-bg: linear-gradient(180deg, #F9FAFB 0%, #F5F9E7 100%);
    --bg-opacity: 0.7;
    --header-bg:#000000;
    --link-hover-color: #34A853;
    --tinted-text:#B8D344;
    --light-green: #F5F9E7;
    --round-btn:#C4C4C4;
    --copy-right-greyed: #AFB5C0;
    --active-round-btn: #7C7C7C;
    --green-bg:#35A555;
    --light-blue-bg:#F9FAFB;
    --picture-overlay-gradient: linear-gradient(359.8deg, #34A853 0.12%, rgba(52, 168, 83, 0) 99.77%);
    --dark-bg: #000000;
}

@font-face {
    font-family: Mulish800;
    src: url('../fonts/Mulish/static/Mulish-ExtraBold.ttf');
}
@font-face {
    font-family: Mulish400;
    src: url("../fonts/Mulish/static/Mulish-Regular.ttf");
}
@font-face {
    font-family: Mulish700;
    src: url('../fonts/Mulish/static/Mulish-Bold.ttf');
}
@font-face {
    font-family: Mulish500;
    src: url('../fonts/Mulish/static/Mulish-Medium.ttf');
}
@font-face {
    font-family: Mulish600;
    src: url('../fonts/Mulish/static/Mulish-SemiBold.ttf');
}
/*General Styles here*/
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Mulish400, sans-serif;
    /* border: 1px solid red; */
    position: relative;
    /* overflow-x: hidden; */
}

.build-team-btn{
    /* background: var(--btn-colored); */
    color: var(--gen-white-text);
    text-align: center;
    padding: 0.8rem 2rem;
    margin: 10px 0;
    /* width: 100%; */
}

/*End of General stylings here*/

.header-with-bg{
    background: var(--header-bg) url("../images/lagostechie-unsplash1.png") no-repeat fixed center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 3.5rem;
    position: relative;
}

/*Navbar Stuffs start*/
.navbar-wrapper{
    /* position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 0.5rem 0 0.5rem 0.5rem;
    /* border: 2px solid green; */
    width: 90%;
    /* box-sizing: border-box; */
}

.ham {
    position: absolute;
    /* always keep ham on top of everything */
    z-index: 1000;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* show the menu image */
    background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
    background-size: 100%;
    display: none;
  }

  .showClose {
    background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
  }

  .navbar {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.226);
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  padding-top: 2rem;
  /* color: white; */
  /* hide the menu above the screen by default */
  transform: translateY(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
  /* border: 1px solid coral; */
}

.showNav {
  /* show the menu */
  transform: translateY(0);
}

.navbar ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    /* align-items: center; */
  }
  
  
  .navbar ul li a:hover, .navbar ul li a:focus {
    /* border-bottom: 2px solid white; */
    background: rgba(0,0,0,0.25);
  }


.logo-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid chartreuse; */
    padding: 1rem 0rem 1rem 0;
    width: 100%;
    /* padding-left: 0; */
}

.menu{
    width: 100%;
    /* border: 3px solid red; */
    /* height: 38px; */
}

.menu-list{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* width: 30%; */

}

.dkp-menu{
    display: flex;
    justify-content: space-between;
}

.menu-links{
    /* display: block; */
    /* border: 1px solid yellow; */
    color: var(--gen-white-text);
    padding: 0.5rem;
    margin: 0 1rem;
    font-family: Mulish400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    transition: all 0.45s ease;
    /* border: 1px solid green; */
}

.menu-links:hover{
    color: var(--link-hover-color);
    border-left: 3px solid var(--copy-right-greyed);
}

.shaded{
    background-color: var(--gen-white-text);
    color: var(--text-color);
    font-size: 0.75rem;
    line-height: 0.9375rem;
    transition: all 0.5s ease-in-out;
    padding: 1rem;
}

.shaded:hover{
    background-color: var(--green-bg);
    color: var(--gen-white-text);
    border: 2px solid var(--gen-white-text);
    border-radius: 6px;
}

.mobile-menu{
    display: none;
}

.harmburger{
    /* border: 1px solid red; */
    width: 3.5rem;
    background-color: transparent;
    cursor: pointer;
}

.line{
    height: 3px;
    background-color: var(--gen-white-text);
    margin: 0.7rem 0.4rem;
}

/*End of Navbar Stuffs*/

/*Header Centered Text starts*/
.header-text,.header-btn{
    margin: auto;
    text-align: center;
}

.header-text{
    margin-top: 12rem;
    width: 80%;
    color: var(--gen-white-text);
}

.mobile-nav-text{
    display: none;
}

.header-text h1{
    font-family: Mulish800;
    /* font-size: 3.4375rem; */
    font-size: 3.7vmax;
    /* line-height: 69.03px */
    line-height: 6vmax;
}

.header-text h5{
    /* font-size: 1.5625rem; */
    font-size: 1.8vmax;
    /* line-height: 38px; */
    line-height: 3vmax;
    width: 70%;
    margin: auto;
    margin-top: 1.2rem;
    /* text-align: center; */
    /* border: 1px solid red; */
}

  .painted{
    color: var(--tinted-text);
    }
/**End of Styling for Animating Header Text!*/

  .header-btn{
    border: 1px solid var(--gen-white-text);
    margin: 7rem auto;
    padding: 0.8rem;
    margin-bottom: 5rem;
    position: relative;
    width: 247px;
}

.overlay-header-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: #008CBA; */
    background: var(--btn-colored);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    z-index: 1;
}

.header-btn:hover .overlay-header-btn, .footer-btn:hover .overlay-header-btn {
    width: 100%;
}
/*Text inside the Overlay.*/
.text {
  color: var(--gen-white-text);
  /* font-size: 1.25rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/*Section for Organizations Decagon has worked With*/
.hiring-organizations{
    /* border: 1px solid red; */
    
    padding: 2.5rem 4rem;
    background-color: var(--greyed-bg);
}

.hire-org-cover{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
    color: var(--greyed-text-color);
}

.hire-org-cover>:first-child{
    /* border: 1px solid yellow; */
    flex: 1;
}

.hire-org-cover>:last-child{
    /* border: 1px solid red; */
    flex: 2;
}

.companies{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
}

/*Why Decagon Section*/
.why-decagon{
    background: var(--white--bg);
    /* border: 1px solid skyblue; */
}

.why-decagon>*{
    width: 90%;
    margin: auto;
}

.why-title{
    padding: 2rem 0;
    line-height: 42px;
    font-family: Mulish800;
    font-size: 2.25rem;
    /* border: 1px solid blue; */
}

.why-container{
    display: flex;
    /* border: 1px solid red; */
}

.flexa{
    /* border: 1px solid green; */
    height: inherit;
    width: 100%;
    display: contents;
}

.flexa img{
    display: block;
    width: 100%;
    height: 100%;
}
.image-wrapper{
    width: 100%;
}

.notes-wrapper{
    width: 65%;
}

.why-container-notes{
    width: 100%;
    /* border: 1px solid yellow; */
}

.flexb{
    display: flex;
    justify-content: space-around;
}

.flexb-1{
    padding: 2.5rem 5.4vmax;
    /* border: 1px solid red; */
    flex: 1;
}

.flexb-1 h3{
    font-family: Mulish700;
    /* font-size: 1.5rem; */
    line-height: 1.875rem;
}

.flexb-1 p{
    line-height: 1.5rem;
    opacity: var(--text-opacity);
    font-size: 1rem;
    /* font-size: 1.7vmax; */
    /* border: 1px solid brown; */
}

.flexb-1 span{
    font-weight: bolder;
    /* opacity: 1; */
}

.why-label{
    /* border: 1px solid yellow; */
    width: 100%;
    padding: 1.5rem 0;
    margin-top: 1.5rem;
}

.why-label p{
    width: 40%;
    text-align: center;
    margin: auto;
    line-height: 2.125rem;
    font-size: 1.5rem;
    color: var(--greyed-text-color);
}

/**Testimonial Leadership Section */
.testimonial-leadership{
    background: var(--gradient-bg);
    /* border: 1px solid blue; */
    padding: 2rem 0;
}

.testimonial-leadership>*{
    width: 90%;
    margin: auto;
}

.video-testifier{
    display: flex;
    /* border: 1px solid pink; */
    padding: 3.5rem 0;
}

.img-testifier{
    position: relative;
    /* border: 1px solid lawngreen; */
}

.play-btn{
    position: absolute;
    /* border: 1px solid green; */
    top: 75%;
    left: 82%;
}

.testifier-text-wrapper{
    /* border: 1px solid red; */
    padding: 0 2rem;
}

.directions{
    /* border: 1px solid white; */
    height: auto;
}

.flexable{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top:  0.5px solid rgba(0, 0, 0, 0.30);
}

.arrow-btns-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid crimson; */
    width: 9%;
}

.arrow-btns-circle{
    border-radius: 50%;
    /* width: 2rem; */
    /* padding: 0.2rem 0.6rem; */
    padding: 0.4rem;
    background-color: var(--greyed-arrow-bg);
    cursor: pointer;
    text-align: center;
}

.arrow-btns-wrapper>:first-child img{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.testifier-text{
    /* border: 1px solid yellow; */
    margin: 1rem 0;
    margin-bottom: 2.5rem;
    position: relative;
}

.hide{
    display: none;
}

.testifier-text-content{
    /* display: none; */
    padding: 1rem 0;
    margin: 1rem 0;
    width: 77%;
    transition: all 0.5s ease;
    /* border: 1px solid red; */
    box-shadow: 4px 4px 12px rgba(231, 219, 219, 0.3);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.testifier-text-content p{
    margin: 1rem 0;
    /* font-size: 1.5rem; */
    font-size: 2vmax;
}

.testifier-text-content h3{
    margin-top: 3rem;
    opacity: 0.8;
    font-size: 1.25rem;
}

.testifier-text-content h5{
    opacity: 0.5;
    font-size: 0.9375rem;
}

.dots-wrapper{
    /* border: 1px solid red; */
    padding: 1rem 0.5rem;
    display: flex;
}

.dots{
    border-radius: 50%;
    padding: 0.4rem;
    margin: 0 0.1rem;
    background-color: var(--greyed-arrow-bg);
    transition: background-color 0.6s ease;
}

.dots:hover{
    cursor: pointer;
}

.dots.active{
    background: var(--active-round-btn);
}


/**Leadership Section*/
.decagon-leaders-header{
    text-align: center;
    font-size: 2.25rem;
    font-family: Mulish800;
    line-height: 2.625rem;
    color: var(--greyed-text-color);
}

.leaders{
    display: flex;
    justify-content: space-between;
    margin: 2.8rem 0;
}

.leader-card{
    background: var(--white--bg);
    padding: 1.5rem 2.0rem;
    flex: 1;
    margin: 0 1.5rem;
    transition: all .45s ease;
    /* width: 404px; */
    /* width: 25.25rem; */
}

.leader-card:hover{
    box-shadow: 0px 0px 10px rgba(209, 209, 209, 0.3);
    /* transform: scaleY(1.05); */
    transform: translateY(-5%);
}

.leader-card:nth-of-type(1){
    /* border: 1px solid skyblue; */
    margin-left: 0;
}

.leader-card:nth-of-type(3){
    /* border: 1px solid green; */
    margin-right: 0;
}

.leader-card>*{
    /* border: 1px solid brown; */
    width: 90%;
}

.name-role>*{
    margin: 0.7rem 0;
}
.name-role h3{
    /* font-size: 1.5rem; */
    font-family: Mulish600;
    line-height: 1.875rem;
}

.name-role p{
    line-height: 1.5rem;
    line-height: 1.25rem;
    color: var(--greyed-text-color);
    opacity: 0.5;
}

.experience ul{
    list-style-type: none;
    /* border: 1px solid grey; */
}

.experience ul li{
    margin: 0.7rem 0;
    color: var(--greyed-text-color);
    line-height: 1.25rem;
    display: inline-flex;
    font-size: 1.4vmax;
}

.experience ul li span{
    margin-right: 0.8rem;
}

.experience{
    height: 20rem;
    /* border: 1px solid pink; */
}

.linkedIn{
    display: flex;
    align-items: center;
    /* border: 1px solid blueviolet; */
}

.linkedIn>:first-child{
    margin-right: 1rem;
}

.linkedIn span{
    font-size: 1.4vmax;
}

.load-all{
    border: 1px solid var(--text-color);
    opacity: 0.9;
    margin: 1.4rem auto;
    display: none;
}

.load-all p{
    margin: auto;
    padding: 1rem 2.5rem;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 0.8125rem;
    cursor: pointer;
}

/*New Section: partners-skills */
.partners-skills{
    background: var(--white--bg);
    padding: 2rem 0;
}

.partners-skills-header{
    text-align: center;
    color: var(--link-hover-color);
    /* border: 1px solid red; */
    padding: 1rem 0;
}

.partners{
    width: 50%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    margin: auto;
    padding: 1.5rem 3rem;
}

.skill-bank{
    background: var(--green-bg);
    color: var(--gen-white-text);
    width: 90%;
    margin: 1.4rem auto;
    padding: 2.5rem 0;
}

.skill-bank h2{
    font-family: Mulish800;
    text-align: center;
    line-height: 2.625rem;
    font-size: 2.25rem;
}

.skill-bank h4{
    text-align: center;
    opacity: var(--text-opacity);
    line-height: 2.375rem;
    font-size: 1.5625rem;
    margin: 1rem 0;
}

.skill-bank-wrap{
    display: flex;
}

.skill-bank-list{
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 3rem 0rem;
    /* border: 1px solid red; */
}

.skill-bank-list ul li{
    /* margin: 1rem 0; */
    font-size: 1rem;
    line-height: 2rem;
    font-weight: lighter;
}

/**
In the Media Section
*/
.media{
    background: var(--light-blue-bg);
    opacity: var(--bg-opacity);
    padding: 4rem 0;
}
.media>*{
    width: 90%;
    margin: auto;
}

.media-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    /* border: 1px solid white; */
}

.media-header h2{
    font-family: Mulish800;
    font-size: 2.25rem;
    line-height: 2.8125rem;
    color: #000000;
    font-weight: bold;
}

.media-header a{
    color: var(--link-hover-color);
}

.media-pages{
    display: flex;
    justify-content: space-between;
}

.media-card{
    height: 36.75rem;
    width: 405px;
    margin: 0 1.5rem;
    flex: 1;
    /* border: 1px solid red; */
    /* transition: all 1.5s ease; */
}

.media-card:hover{
    cursor: pointer;
}

.media-card:nth-of-type(1){
    margin-left: 0;
}

.media-card:nth-of-type(3){
    margin-right: 0;
}

.card1{
    background: url("../images/afigbo-archibong-zuckerberg.png") no-repeat center;
    background-size: cover;
}

.media-overlay{
    background: var(--picture-overlay-gradient);
    background: transparent;
    /* transition: all 4s ease; */
    /* opacity: 0; */
    /* border: 1px solid red; */
    height: inherit;
}

.media-overlay>*{
    transition: all 0.5s ease;
}

.media-card:hover .media-overlay{
    background: var(--picture-overlay-gradient);
}

.media-card:hover .media-bottom{
    transform: translateY(-5%);
}

.media-top{
    height: 68%;
    /* border: 1px solid brown; */
}

.media-bottom{
    padding: 2rem;
    color: var(--gen-white-text);
}

.media-bottom h3{
    font-size: 1.3rem;
    line-height: 1.875rem;
    /* border: 1px solid yellow; */
    height: 6.5rem;
}

.media-bottom a{
    display: block;
    color: var(--gen-white-text);
}

.card2{
    background: url("../images/Governor-Godwin-Obaseki-of-Edo-state-1-696x609.png") no-repeat center;
    background-size: cover;
}

.card3{
    background: url("../images/toptal-blog-image.png") no-repeat center;
    background-size: cover;
}

/**
    FOOTER here
**/
.footer{
    background: var(--greyed-text-color);
    padding-bottom: 3rem;
}

.footer>*{
    width: 90%;
    margin: auto;
}

.build-team{
    text-align: center;
    color: var(--gen-white-text);
    padding: 5rem 3rem;
    /* border: 1px solid yellow; */
    border-bottom: 0.5px solid var(--gen-white-text);
}

.build-team h2{
    font-family: Mulish800;
    font-size: 3.125rem;
    /* line-height: 0rem; */
    color: var(--gen-white-text);
    /* border: 1px solid red; */
    margin: 2.5rem 0;
}

.build-team>div{
    padding: 3rem 3rem;
    /* border: 1px solid red; */
    margin: 1rem 0;
}

.footer-btn{
    position: relative;
    border: 1px solid var(--gen-white-text);
    width: 247px;
    margin: 1rem auto;
    padding: 1rem 0;
}

.footer-links{
    display: flex;
    /* border: 1px solid white; */
    padding: 4rem 0 8rem 0;
}

.social-media-icons{
    display: flex;
    justify-content: center;
}

.footer-links>*{
    flex: 1;
    /* border: 1px solid red; */
}

.nav-links{
    display: flex;
    color: var(--gen-white-text);
}
.nav-links h2{
    font-size: 1rem;
    line-height: 1.875rem;
    color: var(--gen-white-text);
}

.nav-links a{
    color: var(--gen-white-text);
    line-height: 1.875rem;
    font-size: 0.875rem;
    margin: 0.5rem 0;
    transition: all 0.45s ease;
}

.nav-links a:hover{
    color: var(--link-hover-color);
}

.nav-links p,.nav-links span{
    line-height: 1.875rem;
    font-size: 0.875rem;
    margin: 0.5rem 0;
}

.info-location{
    display: flex;
    flex: 2;
    justify-content: space-evenly;
}

.contact-us{
    flex: 1;
}

.copyright{
    color: var(--copy-right-greyed);
}


.highlighted{
    color: var(--green-bg);
}

.mobile-footer-links{
    margin: auto;
    text-align: center;
    width: 80%;
    display: none;
}

@media screen and (max-width: 960px){
    .header-with-bg {
        padding: 1px;
    }
            
    
    .hiring-organizations{
        padding-left: 1rem;
        /* overflow: hidden; */
    }
    .hire-org-cover{
        display: block;
        text-align: center;
    }
    .companies{
        margin: 1.3rem 0;
    }
    .companies figure{
        margin: 0 1rem;
    }
    
    .flexb{
        display: block;
    }
    .flexb-1{
        padding: 1.5rem 2.0vmax;
    }
    .why-label{
        background: var(--light-green);
    }
    .why-label p{
        width: 100%;
        font-size: 1.33rem;
    }
    
    .img-testifier img{
        display: block;
        width: 100%;
    }
    .testifier-text-content{
        width: 100%;
        padding: 0.8rem;
    }
    .arrow-btns-wrapper{
        width: 22%;
    }
    .arrow-btns-circle {
        margin: 0 0.4rem;
    }
    .decagon-leaders-header{
        text-align: left;
    }
    
    .leader-card{
        margin: 1.5rem 0.75rem;
    }
    
    .partners{
        /* width: 100%; */
        padding: 1.3rem 1.6rem;
        /* overflow: hidden; */
    }
    .partners span{
        margin: 0 1rem;
    }
    .skill-bank{
        width: 100%;
        padding: 2rem 1rem;
    }
    
    .media-card{
        margin: 1.8rem 0.7rem;
        width: 100%;
    }
    
    
    @media screen and (max-width: 560px){
        .header-with-bg {
            padding: 1px;
        }
                
        .navbar-wrapper{
            /* border: 1px solid purple; */
            /* display: block; */
            width: 100%;
        }
        .ham{
            display: block;
        }
        /**JS to control this*/
        .logo-menu{
            display: block;
            /* border: 1px solid brown; */
        }
        .menu-list{
            display: none;
        }
        .menu-list li{
            height: auto;
            margin: 1rem 0;
        }
        .menu-links{
            /* border: 2px solid yellow; */
            margin: 1rem 0;
            display: block;
            width: 100%;
        }
        .dkp-menu{
            display: none;
        }
        .mobile-menu{
            display: block;
            /* border: 1px solid red; */
        }
        .lg-screen{
            display: none;
        }
        .mobile-nav-text{
            display: block;
            /* border: 1px solid green; */
        }
        .header-btn{
            width: 80%;
        }
        .hiring-organizations{
            padding-left: 1rem;
            overflow: hidden;
        }
        .hire-org-cover{
            display: block;
            text-align: center;
        }
        .companies{
            margin: 1.3rem 0;
        }
        .companies figure{
            margin: 0 1rem;
        }
        .why-container {
            display: block;
        }
        .flexb{
            display: block;
        }
        .flexb-1{
            padding: 1.5rem 2.0vmax;
        }
        .why-label{
            background: var(--light-green);
        }
        .why-label p{
            width: 100%;
            font-size: 1.33rem;
        }
        .video-testifier{
            display: block;
        }
        .img-testifier{
            margin-bottom: 1.5rem;
        }
        .img-testifier img{
            display: block;
            width: 100%;
        }
        .testifier-text-content{
            width: 100%;
            padding: 0.8rem;
        }
        .arrow-btns-wrapper{
            width: 22%;
        }
        .arrow-btns-circle {
            margin: 0 0.4rem;
        }
        .decagon-leaders-header{
            text-align: left;
        }
        .leaders{
            display: block;
        }
        .leaders:nth-of-type(3){
            /* border: 1px solid red; */
            display: none;
        }
        .leader-card{
            margin: 1.5rem 0;
        }
        .load-all{
            display: block;
        }
        .partners{
            width: 100%;
            padding: 1.3rem 1.6rem;
            overflow: hidden;
        }
        .partners span{
            margin: 0 1rem;
        }
        .skill-bank{
            width: 100%;
            padding: 2rem 1rem;
        }
        .skill-bank h2{
            text-align: left;
            font-size: 1.5625rem; 
            line-height: 1.9375rem;
            width: 67%;
        }
        .skill-bank h4{
            text-align: left;
            width: 61%;
            font-size: 1rem;
        }
        .skill-bank-list{
            display: block;
        }
        .media-pages{
            display: block;
        }
        .media-card{
            margin: 1.8rem 0;
            width: 100%;
        }
        .footer-btn{
            width: 100%;
        }
        .social-icons{
            display: none;
        }
        .nav-links{
            display: block;
        }
        .info-location{
            justify-content: space-between;
        }
        .mobile-footer-links{
            display: block;
        }
        .build-team>div{
            padding: 3rem 0.5rem;
        }
    }
    @media screen and (max-width: 380px){
        .header-text{
            width: 100%;
        }
        /* .hire-org-cover{
            display: block;
        } */
        /* .navbar-wrapper{
            /* border: 1px solid red; 
        } */
    }
}